.wrapper

  = render 'messages/left-bar'

  .chatview
    .header
      .left-header
        .left-header__title
          %h2
          = @group.name
        .left-header__members
          %p Member :
          - @group.users.each do |username|
            %span
            = username.name
      .right-header
        .right-header__button
        %a{href: "/groups/1/edit"} Edit
    .comments
      = render partial: 'message', collection: @messages

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
